*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.section{
	font-size: 1.4rem;
	font-family: sans-serif;
	border: 2px groove transparent;
	background: #00ADB5;
}
.header{
	height: 80vh;
}
.title{
	font-size: 2.5rem;
	text-shadow: 3px 2px;

}
.rotate{
	/*-webkit-transition: webkit-transform 1s;*/
	/*position: relative;*/
}

.rotate:hover{
	-webkit-transform: rotate(360deg) translatez(0);
}
.container{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	justify-self: center;
	align-items: center;
	cursor: pointer;
}
.header-img{
	height: 50vh;
	position: absolute;
	left: 40%;
	border-radius: 50%;
	border: 1pc double white;
}
/*.search-box{
	display: flex;
	opacity: 0.5;
	border-radius: 30px	;
	justify-content: space-evenly;
	height: 10%;
	background: transparent;
	width: 50%;
	border: 2px solid #EEEEEE;
}
.search-bar{
	width: 200%;
	font-size: 1.2rem;
}
.search{
	border-radius: 60%;
	height: 50%;
	object-fit: cover;

}
*/.logo{
	height: 15vh;
	width: 100%;
}
.card{
	border-radius: 10px;
	box-shadow: 0 5px 10px #EEEEEE;
	padding: 20px;
	margin: 20px;
	position: relative;
	display: inline-block;
	z-index: 2;
}
.dropdown{
  	display: none;
}
.card:hover{
	color: #EEEEEE;
  	padding: 12px 16px;
  	text-decoration: none;
}
.card:hover .dropdown{
	display: block;
	color: #393E46;
  	padding: 12px 16px;
  	text-decoration: none;
}
.drop{
	background: #393E46;
	color: #EEEEEE;
	text-decoration: none;
	display: block;
	opacity: 0.5;
	padding-top:2px;
	text-align: center;
}
.drop:hover{
	opacity: 1;
}
.section.details{
	padding-bottom: 40px;
}
.navbar{

    background: #EEEEEE;
    position: sticky;
    padding: 20px;
    top:0;
}
.navbar ul{
	text-align: center;
	display: flex;
}
.navbar li{
	list-style-type: none;
	flex-basis: 25%;
}
.navbar li .link {
	text-decoration: none;
	padding: 15px 10px;
	cursor: pointer;
	transition: .25s;
	color: #150E56;
}
.navbar li .link:hover{
	border: 1px solid;
	box-shadow:0 2px 4px;
	z-index: 2;
	border-radius: 4px;
}
.details{
	height: 15vh;
	display: flex;
	position: sticky;
	top: 50px;
}
.details .card{
	margin: auto 10%;
	border: 2px groove;
	text-decoration: none;
	cursor: pointer;
	transition: .5s;
	flex-basis: 50%;
}
.event{
	background: #393E46;
	color: #EEEEEE;
	height: 100vh;
	/*position: fixed;*/
}
.event .eventheader{
	display: flex;
	/*margin: 10% auto;*/
	justify-content: space-evenly;
}
.event .eventheader .sub-header{
	border: 2px groove;
	border-radius: 10px;
	margin: 10%;
	width: 25%;
	padding: auto;
	text-align: center;
	margin-bottom:0 ;
	font-size: 1.4rem;
}
.event span{
	margin-left: 39%;	
	font-size: 2rem;
}
.event .title{
	margin: 10% auto;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 2px 2px;
	width: 30%
;	border-radius: 10px;
	border: 2px groove #EEEEEE;

}
.section h4{
	text-align: center;
	text-shadow: 2px 2px
;}
.news{
	height: 50vh;
}
.works{
/*	position: sticky;
	top: 126px;*/
	transition: 0.5s;
}
.imgs{
	border-radius:50%;
	background: #393E46;
}
.imgs:hover{
	opacity: 0.5;
}
.frow{
	background-color:#393E46;
	font-size: 1.2rem; 
	color: #EEEEEE;
	display: flex;
	justify-content: space-evenly;
	padding: 0px 450px;
}
.frow h5{
	transition: 4s;
	text-align: center;
	padding-bottom:20px ;
}
.frow h5:hover{
	border: 4px groove #EEEEEE;
	text-decoration: underline;
}
.fcol ul{
	list-style-type: none;
}
.fcol li{
	padding-bottom: 10px;
	text-align: right;
}
.fcol a{
	text-decoration: none;
	color: #EEEEEE;
	margin: 20px;
}
.fcol a:hover{
	opacity: 0.5;
	border: 2px double #EEEEEE;
}

.handles{
	display: flex;
}
.handles .imgs{
	height: 35px;
	position: relative;
	border-radius: 60%;
}
.handles .imgs: hover{
	z-index: 4;
	bottom: 100px;
	box-shadow: 2px 4px;
}
